*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

html {
    background-color: #fff;
    font-size: 18px;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    margin: 0;
    position: static;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../imagesoptimized/foto_pirma.jpg");
}

.overlay {
    background: rgba(224,181,183,0.7);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.meniu {
    display: block;
}

.flex-container {
    display: flex;
}

.meniu > .flex-container {
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: none;
}

.main-nav li {
    list-style: none;
}

.main-nav a {
    font-family: 'Myriad Pro Cond';
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 15px;
}

.main-nav li:first-child {
text-decoration-line: underline;
}

.logo {
    font-family: 'Myriad Pro Cond';
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    line-height: 0.89rem;
    padding: 58px 0;
}

.intro {
    display: block;
}

.intro > .flex-container {
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    padding-top: 93px;
}

.intro h1 {
    font-family: 'Rokkitt';
    font-weight: lighter;
    font-style: normal;
    font-size: 3.33rem;
    letter-spacing: -0.016em;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
}

.intro h1::after {
    content: "";
    display: block;
    width: 614px;
    border-top: 1px solid #fff;
    margin: 13px 0 0 0;
}

.intro h2 {
    font-size: 1.22rem;
    font-family: 'Quicksand';
    font-weight: normal;
    font-style: normal;
    letter-spacing: -0.016em;
    line-height: 0.72rem;
    text-align: center;
    margin: 20px 0 172px 0;
}

.lightbox {
    display: block;
    position: relative;
    transform: translateY(50%);
}

.lightbox > a {
    display: block;
    font-size: 1.33rem;
    font-family: 'Rokkitt';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    letter-spacing: -0.016em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(26,188,156,0.6);
}

.a-span {
    display: inline-block;
    background-color: #1abc9c;
    margin: 6px;
    padding: 15px 52px;
}

.about-heading h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #1abc9c;
    letter-spacing: -0.016em;
    line-height: 1.44rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 124px;
    margin: 0 auto;
}

.about-heading > p {
    max-width: 770px;
    font-size: 1rem;
    color: #95a5a6;
    line-height: 1.61rem;
    text-align: center;
    padding: 55px 98px 0px 98px;
    margin: 0 auto;
}

.columns {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.columns::after {
    content: "";
    display: block;
    max-width: 960px;
    border-top: 1px solid #fff;
}

.column {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.icon {
    padding: 80px 0 0 0;
    margin: 0 auto;
}

.column h4 {
    font-size: 1.11rem;
    font-weight: 700;
    color: #1abc9c;
    letter-spacing: -0.016em;
    padding: 32px 0 0 0;
    margin: 0 auto;
} 

.column p {
    font-size: 0.83rem;
    font-weight: normal;
    color: #95a5a6;
    text-align: justify;
    letter-spacing: -0.016em;
    line-height: 1.93rem;
    padding: 41px 52px 0px 52px;
    margin: 0 auto;
}

.break {
    height: 1px;
    background-color: #e4e8e8;
    align-self: center;
    margin-top: 75px;
    max-width: 100%;
}

.photos {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.one-photo {
    display: block;
    position: relative;
    max-width: 400px;
    padding-top: 75px;
}

.one-photo > img {
    display: block;
    z-index: 0;
}

.search-btn {
    justify-content: center;
    align-content: center;
}

.search-button {
    display: block;
    position: absolute;
    transform: translateY(-440%) translateX(260%);
    z-index: 1; 
}

.search-button img {
    display: block;
    background-color: #1abc9c;
    padding: 11px;
}

.search-button span {
    background-color: rgba(26,188,156,0.6); 
    padding: 6px;
}

.search-block-overlay {
    width: 100%; 
    height: 30%;
    display: block;
    position: absolute;
    transform: translateY(-100%);
    background-color: rgba(26,188,156,0.6); 
}

.search-block-text-area {
    display: block;
    position: relative;
    transform: translateY(10%);
}

.search-block-text-area h4 {
    position: absolute;
    font-size: 1.67rem;
    font-family: 'Rokkitt';
    font-weight: lighter;
    letter-spacing: -0.016em;
    text-decoration: none;
    padding: 10px;
    margin: 10px 20px;
}

.search-block-text-area h5 {
    position: absolute;
    transform: translateY(120%);
    font-size: 0.83rem;
    font-weight: lighter;
    padding: 10px;
    margin: 10px 20px;
}

.view-more {
    flex-direction: row;
    justify-content: center;
    margin: 75px 0;
}

.view-more > .lightbox {
    transform: none;
}

.view-more .lightbox > a {
    font-family: 'Rokkitt';
    font-size: 1.33rem;
    color: #fff;
    letter-spacing: -0.016em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(26,188,156,0.6);
}

.icon-arrow-right:before {
  content: "\ea34";
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding-left: 21px;
  background-color: #1abc9c;
}

.b-span {
    display: inline-block;
    background-color: #1abc9c;
    margin: 6px;
    padding: 17px 21px;
}

.get-in-touch h2 {
    text-align: center;
    font-family: 'Rokkitt';
    font-weight: lighter;
    font-size: 3.33rem;
    letter-spacing: -0.016em;
    color: #1abc9c;
    margin: 75px auto;
}

.contact .form-content {
    max-width: 775px;
    margin: 0 auto;
}

.input-row {
    margin-bottom: 27px;
    width: 100%;
}

.input-name {
    max-width: calc(50% - 15px);
    margin-right: 15px;
}

.input-name input {
    max-width: 100%;
    background-color: #e4e8e8;
    color: #cecece;
    font-family: 'Rokkitt';
    font-weight: lighter;
    font-size: 1.67rem;
    letter-spacing: -0.016em;
    color: #cecece;
    border: none;
    padding: 26px 33px;
} 

.input-email {
    display: block;
    max-width: calc(50% - 15px);
    margin-left: 15px;
}

.input-email input {
    display: block;
    max-width: 100%;
    background-color: #e4e8e8;
    color: #cecece;
    font-family: 'Rokkitt';
    font-weight: lighter;
    font-size: 1.67rem;
    letter-spacing: -0.016em;
    color: #cecece;
    border: none;
    padding: 26px 33px;
}

.form-textarea textarea {
    width: 100%;
    background-color: #e4e8e8;
    font-family: 'Rokkitt';
    font-weight: lighter;
    font-size: 1.67rem;
    letter-spacing: -0.016em;
    color: #cecece;
    border: none;
    margin-bottom: 27px;
    padding: 26px 33px;
}

.sub {
    justify-content: center;
}

.lightbox-submit {
    display: block;
    position: relative;
    transform: translateY(0%);
    margin-bottom: 125px;
}

.submit-button {
    margin: 0 0;
}

.form-button {
    font-family: 'Rokkitt';
    font-size: 1.33rem;
    color: #fff;
    letter-spacing: -0.016em;
    text-transform: uppercase;
    border: none;
    background-color: #1abc9c;
    padding: 17px 21px;
}

.c-span {
    display: inline-block;
    background-color: rgba(26,188,156,0.6);
    padding: 6px;
}

.extra-contacts {
    min-width: 100%;
    max-height: 240%;
    background-color: #1abc9c;
    margin: 0;
}

.social-networks {
    align-items: center;
    justify-content: space-between;
    margin: 0 90px;
}

.transparent-frames {
    position: relative;
    transform: translateY(-50%);
    align-items: center; 
    justify-content: center;
    width: 21vh;
    height: 21vh;
    background-color: rgba(26,188,156,0.6);
}

.frames {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18vh;
    height: 18vh;
    background-color: #f6f6f6;
}

.author {
    align-items: center;
    justify-content: space-between;
}

.author h4 {
    font-family: 'Rokkitt';
    font-size: 1.33rem;
    font-weight: lighter;
    letter-spacing: -0.016em;
}


/* Responsive */

@media all and (min-width: 992px) {
    .main-nav li:first-child:hover {
        color: #1abc9c;
    }
    .main-nav a:hover {
        color: #1abc9c;
    }
    .small-overlay {
        display: block;
        position: absolute;
        transform: translateY(-100%);
        width: 100%;
        height: 80%;
        background: rgba(224,183,181,0.5);
        z-index: 1;
    }
    .small-overlay:hover {
        opacity: 0;
        transition: .7s ease;
    }
}

@media screen and (max-width: 991.98px) {
    .container {
        width: 100%;
        padding: 0 5%;
    }
    .about-heading > p {
        width: 80%;
        padding: 10% 0;
    }
    .icon {
        padding: 5%;
    }
    .column p {
        padding: 8%;
    }
    .break {
        margin-top: 5%;
    }
    .get-in-touch h2 {
        margin: 5% auto;
    }
    .input-row input {
        width: 100%;
        padding: 2%;
    }
    .form-textarea textarea {
        padding: 2%;
    }
}

@media screen and (max-width: 767.98px) {
    .container {
       padding: 0 15%; 
    }
    .main-nav {
        justify-content: space-between;
    }
    .burger {
        display: block;
        position: fixed;
        transform: translateY(-50%);
    }
    .nav {
        display: none;
    }
    .nav.show {
        display: block;
        position: fixed;
        transform: translateX(-25%);
        margin-top: 20px;
        text-align: center;
        background-color: rgba(26,188,156,0.6);
        z-index: 2;
    }
    .main-nav a {
        margin: 0;
    }
    .main-nav li {
        margin: 0;
        padding: 0 10px;
    }
    .intro h1::after {
        content: "";
        display: block;
        width: 100%;
        border-top: 1px solid #fff;
        margin: 2% 0 0 0;
    }
    .columns {
        display: block;
    }
    .column {
        width: 100%;
    }
    .column p {
        width: 100%;
        padding: 5%;
        text-align: center;
    }
    .column .icon {
        padding: 1%;
    } 
    .column h4 {
        padding-top: 1%;
    }
    .view-more .button {
        margin-top: 5%;
    }
    .get-in-touch h2 {
        margin: 5% auto;
    }
    .input-row {
        flex-wrap: wrap;
        margin-bottom: 1%;
    }
    .input-name {
        min-width: 100%;
        margin-bottom: 1%;
    }
    .input-email {
        min-width: 100%;
        margin: 0;
    }
    .social-networks {
        margin: 0;
    }
}

@media screen and (max-width: 575.98px) {
    .container {
        padding: 0 12%;
    }
    .nav.show {
        transform: translateX(-50%);
    }
    .intro > .flex-container {
        padding-top: 5%;
    }
    .intro h1 {
        font-size: 2rem;
    }
    .intro h2 {
        line-height: 1.5rem;
    }
    .a-span {
        padding: 8px;
    }
    .about-heading h3 {
        font-size: 1.5rem;
        padding-top: 20%;
    }
    .about-heading > p {
        font-size: 0.8rem;
        font-weight: bold;
        width: 95%;
    }
    .column {
        padding-top: 5%;
    }
    .column p {
        text-align: justify;
    }
    .break {
        display: none;
    }
    .column h4 {
        padding-top: 1%;
    }
    .one-photo {
        padding-top: 5%;
        z-index: -1;
    }
    .one-photo img {
        max-width: 80%;
        margin: 0 10%;
    }
    .small-overlay {
        display: none;
    }
    .search-block-overlay {
        width: 75%;
        background: none;
    }
    .search-block-text-area h4 {
        display: none;
    }
    .search-block-text-area h5 {
        display: none;
    }
    .view-more {
        margin: 10% 0;
    }
    .b-span {
        padding: 8px;
    }
    .get-in-touch h2 {
        font-size: 2.5rem;
        margin: 10% auto;
    }
    .input-row {
        padding: 2% 2% 1% 2%;
        margin-bottom: 0;
    }
    .input-row input {
        font-size: 1.3rem;
    }
    .form-textarea {
        padding: 2%; 
    }
    .form-textarea textarea {
        font-size: 1.3rem;
    }
    .form-button {
        padding: 8px;
    }
    .lightbox-submit {
        margin-bottom: 30%;
    }
    .author h4 {
        font-size: 1rem;
    }
    @-moz-document url-prefix() {
        .transparent-frames {
            width: 13vh;
            height: 13vh;
        }
        .frames {
            width: 11vh;
            height: 11vh;
        }
    }
}
























